@import "../../../../style/000-abstracts/__abstracts-dir";

.main-navigation {
  z-index: $level-overall-nav;
  display: flex;
  min-height: $xl + $s;
  padding: $s 0;
  background-color: $lightest;

  flex: 0 1 auto;

  .logo {
    padding: $s 0;
    padding-left: $m;
  }

  .menu {
    flex: 1 0 auto;
    padding: $s 0 $s $m;

    &__item {
      a {
        display: block;
        padding: $s $m;
        border-bottom: solid $border-stroke-weight transparent;
        color: $darker;
      }
    }

    &__item a.is-active {
      border-bottom: solid $border-stroke-weight $accent;
    }

    &:hover {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: $vp-large) {
    .menu {
      display: flex;
      flex-direction: row;
    }

    .menu .menu-item {
      display: flex;
      align-items: flex-end;
    }
  }
}
