@use "sass:math";

@import "../../../../style/000-abstracts/__abstracts-dir";

.search {
  position: fixed;
  display: none;
  padding: 0 $m $m;

  &--is-active {
    display: block;
  }

  & > .block {
    padding: 0;

    & + .block {
      margin-top: $xl;
    }

    > .search-input {
      & + .search-input {
        margin-top: $s;
      }
    }

    > .search-button {
      margin-top: math.div($xl, 2);
    }

    .dating-field {
      display: inline-block;
    }

    .cell-row {
      display: flex;
      margin-right: 2rem;

      .cell {
        margin: 0 0.5rem;
      }
    }
  }

  .search-title {
    margin-bottom: $l;
  }

  .search-result-info {
    margin-bottom: $l;
    font-weight: $fw-semibold;
  }

  .filter-info-item {
    display: flex;

    &__inactive {
      filter: grayscale(100%);
      opacity: $op-medium;
    }

    &__name {
      margin-left: $xs;
      line-height: $m;
    }
  }
}
