@use "sass:math";

@import "../../../../style/000-abstracts/__abstracts-dir";

.search {
  display: none;
  padding:  $s + $s + $s $m $xxl $m;
  width: $sidebar-width;

  &--is-active {
    display: block;
  }

  &-button{
    position: relative;
    z-index: $level-content-nav;
  }

  & > .block {
    padding: 0;

    & + .block {
      margin-top: $xl;
    }

    > .search-input {
      & + .search-input {
        margin-top: $s;
      }
    }

    .dating-field {
      display: inline-block;
    }

    .cell-row {
      display: flex;
      margin-right: 2rem;

      .cell {
        margin: 0 0.5rem;
      }
    }
  }

  .search-title {
    margin-bottom: $l;
  }

  .reset-filters {
    margin-left: $l;
    cursor: pointer;
  }

  .single-filter {
    margin-bottom: $m;
  }

  .search-result-info {
    margin-bottom: $l;
    font-weight: $fw-semibold;

    p{
      line-height: normal;
    }
  }

  .filter-info-item {
    display: flex;

    &__inactive {
      filter: grayscale(100%);
      opacity: $op-medium;
    }

    &__name {
      margin-left: $xs;
      line-height: $m;
    }

    .size{
      margin-left: 0;
    }
  }

  .advanced-search-toggle{
    margin-top: $m;
    opacity: $op-medium;
    height: 0;
    z-index: $level-content;

    .head .entry-title{
      padding-top: 0;
      text-align: right;
    }

    &.-open{
      opacity: 1;
      height: auto;
      padding-bottom: $l;

      .head .entry-title{
        text-align: left;
        font-weight: $fw-semibold;
      }
    }

    .box{
      padding: 0;
    }
  }

  .sticky-panel{
    position: fixed;
    width: $sidebar-width;
    bottom: 0;
    right: 0;
    padding: 0 $m $m $m;
    background-color: $lighter;
    z-index: $level-overall-nav;

    .reset-button{
      font-weight: $fw-light;
      background-color: $light;
      color: $darkest;
      transition: background-color $tr-fast, color $tr-fast;
      height: $l;
      padding: 0 $s;

      &:hover{
        background-color: $accent;
        color: $lightest;
      }
    }
  }
}
