@import "../../../../style//000-abstracts/__abstracts-dir";

.text-input {
  display: inline-block;
  width: 100%;

  &-group {
    position: relative;
    display: block;

    .input-field {
      display: block;
      width: 100%;
      padding: $s 0 $quad 0;
      border: 0;
      border-bottom: 1px solid $dark;
      margin-bottom: 2px;
      background-color: transparent;
      color: $dark;
      font: inherit;
      font-weight: $fw-regular;

      transition: padding $tr-fast;

      &:focus, &:focus-visible{
        outline: none;
        padding-top: $m;

      }
    }

    .reset-icon {
      position: absolute;
      top: 50%;
      right: 0;
      cursor: pointer;
      opacity: 0;
      transform: translateY(-50%) scale(0.8);
      transition: opacity $tr-fast;
      vertical-align: top;
    }

    &:hover {
      .reset-icon {
        opacity: 1;
      }
    }
  }

  .label-text {
    color: $dark;
  }
}
