@import "../../../../style//000-abstracts/__abstracts-dir";

.text-input {
  display: inline-block;
  width: 100%;

  .input-field {
    border: 0;
    background-color: transparent;
    color: $light;
    border-bottom: 1px solid $light;
    display: block;
    margin-bottom: 2px;
    font: inherit;
    width: 100%;
    padding: 0;
  }

  .label-text {
    color: $light;
  }
}
