@import "../../../../style//000-abstracts/__abstracts-dir";

.search-sidebar {
  background-color: $darkest;
  padding: 0 $m $m;

  & > .block {
    padding: 0;

    & + .block {
      margin-top: $xl;
    }

    > .search-input {
      & + .search-input {
        margin-top: $s;
      }
    }

    > .search-button {
      margin-top: $xl / 2;
    }
  }
}
