@import "../../../../style//000-abstracts/__abstracts-dir";

.search-sidebar {
  padding: 0 $m $m;
  position: sticky;
  top: $xxl;

  & > .block {
    padding: 0;

    & + .block {
      margin-top: $xl;
    }

    > .search-input {
      & + .search-input {
        margin-top: $s;
      }
    }

    > .search-button {
      margin-top: $xl / 2;
    }

    .dating-field {
      display: inline-block;
    }

    .cell-row {
      display: flex;
      margin-right: 2rem;
      .cell {
        margin: 0 0.5rem;
      }
    }
  }

  .search-title{
    margin-bottom: $l;
  }

  .search-result-info{
    font-weight: $fw-semibold;
    margin-bottom: $l;
  }

}



