@use "sass:math";
@import "../../../../style/000-abstracts/__abstracts-dir";

.checkbox {
  position: relative;
  display: inline-flex;
  margin-right: $xxs;
  cursor: pointer;
}

.checkbox > span {
  padding-right: $xxxs;
  color: $medium;
}

.checkbox > input {
  position: relative;
  width: math.div($bfs, 1.4);
  height: math.div($bfs, 1.4);
  border: $border-stroke-weight-s solid $darker;
  margin-top: math.div($bfs, 3);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition-duration: $tr-fast;
}

.checkbox > input:checked {
  border: solid 2px $lightest;
  background-color: $accent;
  border-radius: 50%;
}

.checkbox > input:active {
  border: $border-stroke-weight solid $darker;
}
