// Icons
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: $font-icons;
  font-feature-settings: 'liga';
  font-size: 24px;  /* Preferred icon size */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;

  &.i12::before { font-size: 12px !important; }
  &.i14::before { font-size: 14px !important; }
  &.i18::before { font-size: 18px !important; }
  &.i24::before { font-size: 24px !important; }
  &.i36::before { font-size: 36px !important; }
  &.i48::before { font-size: 48px !important; }

  &::before {
    content: attr(data-icon);
  }

  &--is-small {
    font-size: $s;
  }

  &--is-medium {
    font-size: $m;
  }

  &--is-inline {
    margin-right: $xs;
  }
}
