@mixin overlay($height, $color) {
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height;
    background: linear-gradient(180deg, rgba($color, 0), $color 100%);
    content: '';
  }
}

@mixin base-grid {
  display: grid;
  column-gap: $m;
  grid-auto-rows: 1fr;
  row-gap: $m;
}

@mixin grid-even-2-columns($viewport) {
  @media only screen and (min-width: #{$viewport}) {
    @include base-grid;

    grid-template-columns: 1fr 1fr;
  }
}

@mixin grid-uneven-2-columns($viewport) {
  @media only screen and (min-width: #{$viewport}) {
    @include base-grid;

    grid-template-columns: 342px 1fr;
  }
}

@mixin grid-even-3-columns($viewport) {
  @media only screen and (min-width: #{$viewport}) {
    @include base-grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

@mixin grid-even-columns($viewport, $columns) {
  @media only screen and (min-width: #{$viewport}) {
    @include base-grid;

    grid-template-columns: repeat(#{$columns}, 1fr);
  }
}
