@use "sass:math";

/* Farben
----------------------------------------------------------------------------- */

$medium: #666;
$dark: #444;
$darker: #222;
$darkest: #000;
$light: #b4b4b4;
$lighter: #f2f2f2;
$lightest:#fff;
$lighten: rgba(255, 255, 255, 0.1);
$lighten-strong: rgba(255, 255, 255, 0.2);
$lighten-strongest: rgba(255, 255, 255, 0.8);
$accent: #FEB701; // fc0
$decoration:#cc5800;
$error: #c00;
$darken: rgba(0, 0, 0, 0.04);
$darken-medium: rgba(0, 0, 0, 0.1);
$darken-strong: rgba(0, 0, 0, 0.2);
$darken-strongest: rgba(0, 0, 0, 0.8);

/* Viewports
----------------------------------------------------------------------------- */

$vp-medium: 720px;
$vp-large: 1024px;
$vp-xlarge: 1400px;
$vp-xxlarge: 1700px;
$vp-3xlarge: 2000px;
$vp-4xlarge: 2300px;

/* Größen und Abstände
----------------------------------------------------------------------------- */

$bfs: 0.9rem;

/* Entlang der Fibonacci Reihe */

$xxxs: $bfs * 0.2;
$xxs: $bfs * 0.3;
$xs: $bfs * 0.5;
$s: $bfs * 0.8;
$m: $bfs * 1.3;
$l: $bfs * 2.1;
$xl: $bfs * 3.4;
$xxl: $bfs * 5.5;
$half: math.div($bfs, 2);
$quad: math.div($bfs, 4);

/* Schriften
----------------------------------------------------------------------------- */

$font-sans-serif: "IBMPlexSans",
  sans-serif;
$font-icons: 'Material Icons';
$font-code: menlo,
  consolas,
  "Courier New",
  courier,
  "Liberation Mono",
  monospace;

/* Schriftgewichte
----------------------------------------------------------------------------- */
$fw-light: 200;
$fw-regular: 300;
$fw-semibold: 400;
$fw-bold: 600;

/* Zeilenabstände
----------------------------------------------------------------------------- */
$lh-tight: 120%;
$lh-normal: 140%;
$lh-loose: 160%;

$lh-headlines: $lh-tight;

/* Animationen (Entlang der Fibonacci Reihe)
----------------------------------------------------------------------------- */

$tr-slow: 0.8s;
$tr-medium: 0.5s;
$tr-fast: 0.2s;
$tr-faster: 0.1s;

/* Kacheln
----------------------------------------------------------------------------- */

$tile-xxs: 8em;
$tile-xs: 12em;
$tile-s: 16em;

/* Levels (z-Index)
----------------------------------------------------------------------------- */

$level-background: 0;
$level-content: 10;
$level-content-nav: 20;
$level-section-nav: 30;
$level-overall-nav: 40;

/* Schatten
----------------------------------------------------------------------------- */

$shadow-color: rgba(0, 0, 0, 0.4);
$shadow-color-lighter: rgba(0, 0, 0, 0.2);

$shadow: 1px 1px $xxs $shadow-color;
$shadow-xs: 1px 1px $xxxs $shadow-color;
$shadow-s: 1px 1px $s $shadow-color;
$shadow-m: 1px 1px $m $shadow-color;
$shadow-top: 0 0 $xxs $shadow-color;
$shadow-top-s: 0 0 $s $shadow-color;
$shadow-top-m: 0 0 $m $shadow-color;


/* Misc
----------------------------------------------------------------------------- */

$border-stroke-weight: 2px;
$border-stroke-weight-s: 1px;
$border-stroke-weight-m: 3px;
$border-radius: 2px;
$inner-shadow: inset 0 0 $s rgba(0, 0, 0, 10);
$op-full: 1;
$op-medium: 0.6;
$op-low: 0.3;
$sidebar-width: $bfs * 28;
$slider-handles: $m;

/* Custom Properties
----------------------------------------------------------------------------- */

:root {
  --tile-fix: 120px;
}
