@import "../../../style/000-abstracts/__abstracts-dir";

.dashboard {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 999;

  .scroll-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }
}

@media screen and (max-width: $vp-medium) {
  .dashboard {
    display: block;

    .scroll-up {
      display: block;
    }
  }
}

.main-content {
  flex: 1 1 auto;
  overflow-y: scroll;

  &--non-scrollable {
    position: relative;
    overflow-y: hidden;
  }
}
