@import '../../../../style//000-abstracts/__abstracts-dir';

.artefact-line {
  display: grid;

  border-bottom: solid $border-stroke-weight-s $accent;
  background-color: $darker;

  height: 100%;

  $self: &;
  grid-template-columns: $tile-xxs 1fr;

  &:hover {
    #{$self}__content {
      background-color: $darker;
    }
  }

  &__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: $m;
    padding-bottom: $l;

    transition: background-color $tr-fast;

    color: $lighter;
    background-color: $dark;

  }

  &__title {
    font-weight: $fw-semibold;
    line-height: $lh-headlines;
    margin-bottom: $xxs;
    color: $lightest;
  }

  &__subtitle {
    margin-bottom: $s;
    color: $lighter;
  }

  &__master-data{
    line-height: $lh-loose;
    color: $light;
  }
}
