@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-line {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 100%;
  border-bottom: solid $border-stroke-weight-s $accent;
  background-color: $lighter;
  grid-template-columns: $tile-xxs 1fr;

  $self: &;

  &:hover {
    #{$self}__favorite {
      top: $xs !important;
      opacity: 1 !important;
    }

    #{$self}__content {
      background-color: $light;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $m;
    padding-bottom: $l;
    background-color: $lighter;
    color: $dark;
    transition: background-color $tr-fast;
  }

  &__title {
    margin-bottom: $xxs;
    color: $darkest;
    font-weight: $fw-semibold;
    line-height: $lh-headlines;

    em {
      color: $darkest;
      font-weight: $fw-semibold;
    }
  }

  &__subtitle {
    margin-bottom: $xxs;
    color: $darker;
    line-height: $lh-headlines;
  }

  &__text {
    margin-bottom: $xxs;
    color: $dark;
    line-height: $lh-headlines;
  }

  &__master-data {
    color: $dark;
    line-height: $lh-loose;
  }

  &__favorite {
    position: absolute;
    top: $xs;
    right: $xs;
    aspect-ratio: 1/1;
    background-color: $lighten-strongest;
    border-radius: 50%;
    color: $dark;
    transition: transform $tr-fast, color $tr-fast, opacity $tr-medium, top $tr-medium;

    &:hover,
    &--is-active {
      background-color: $accent;
      color: $lightest;
      cursor: pointer;
    }

    &--is-armed {
      top: -100px;
      opacity: 0;
    }

    &--is-active {
      transform: scale(1);
    }
  }
}
