@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-line {
  display: grid;
  height: 100%;
  border-bottom: solid $border-stroke-weight-s $accent;
  background-color: $darker;
  grid-template-columns: $tile-xxs 1fr;

  $self: &;

  &:hover {
    #{$self}__content {
      background-color: $darker;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $m;
    padding-bottom: $l;
    background-color: $dark;
    color: $lighter;
    transition: background-color $tr-fast;
  }

  &__title {
    margin-bottom: $xxs;
    color: $lightest;
    font-weight: $fw-semibold;
    line-height: $lh-headlines;
  }

  &__subtitle {
    margin-bottom: $xxs;
    color: $lighter;
    line-height: $lh-headlines;
  }

  &__text {
    margin-bottom: $xxs;
    color: $lighter;
    line-height: $lh-headlines;
  }

  &__master-data {
    color: $light;
    line-height: $lh-loose;
  }
}
