@import "../../../../style//000-abstracts/__abstracts-dir";

.accordion {
  .content {
    overflow: hidden;
    height: 0;
    box-sizing: content-box;

    .box {
      padding: $s 0;
      color: $light;
    }
  }

  > .head {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba($lightest, 0.3);

    > .entry-title {
      flex: 1 0 auto;
      color: $lighter;
      font-size: $bfs;
      font-weight: $fw-semibold;
    }

    > .toggle-control {
      flex: 0 1 auto;
      color: $accent;
      cursor: pointer;

      > .icon {
        transition: 0.15s transform;
      }
    }
  }

  &-entry {
    &.-open {
      > .head {
        > .toggle-control {
          > .icon {
            transform: rotate(180deg);
          }
        }
      }

      > .content {
        height: auto;
      }
    }

    & + & {
      margin-top: $m;
    }
  }
}
