@import "../../../../style//000-abstracts/__abstracts-dir";

.accordion {
  &-entry {
    .content {
      overflow: hidden;
      height: 0;
      box-sizing: content-box;

      .box {
        padding: $s 0;
        color: $light;
      }
    }

    > .head {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba($lightest, 0.3);

      > .entry-title {
        flex-grow: 1;
        color: $lighter;
        font-size: $bfs;
        padding-top: $quad;
      }

      > .toggle-control {
        color: $accent;
        cursor: pointer;

        > .icon {
          transition: 0.15s transform;
        }
      }
    }

    &.-open {
      > .head {
        > .toggle-control {
          > .icon {
            transform: rotate(180deg);
          }
        }
      }

      > .content {
        height: auto;
      }
    }

    & + & {
      margin-top: $xs;
    }
  }
}
