@import "../../../../style/000-abstracts/__abstracts-dir";

.size {
  color: $decoration;

  &::before {
    display: inline-block;
    color: $darken-strong;
    content: "#";
  }

  &:last-child::before{
    margin-left: $xxs;
  }
}
