@import "../../../../style/000-abstracts/__abstracts-dir";

.size {
  color: $decoration;

  &::before {
    display: inline-block;
    margin-left: $xxs;
    color: $darken-strong;
    content: "#";
  }
}
