@import "../../../../style/000-abstracts/__abstracts-dir";

.secondary-navigation {

  background-color: $darkest;
  transition: all $tr-fast;
  z-index: $level-overall-nav;

  $trigger: "#{&}__trigger";

  #{$trigger}{
    position: absolute;
    top: $m;
    right: $xs;
    transition: transform $tr-faster;

    &::after{
      content: "more_vert";
      font-family: $font-icons;
      font-size: $l;
      color: $accent;
    }

    &:hover{
      transform: rotate(180deg);
    }
  }

  &__options {
    display: none;
  }

  &.is-active {
    background-color: $darker;
    padding: $m $m $l $m;
    width: $sidebar-width;

    .secondary-navigation__options {
      display: block;
    }

    #{$trigger}::after{
      content: "close";
    }
  }

  .btn {
    padding: $xxs;
  }
}
