@import "../../../../style/000-abstracts/__abstracts-dir";

.secondary-navigation {

  background-color: transparent;
  transition: all $tr-fast;
  width: $xl;
  text-align: right;

  $trigger: "#{&}__trigger";

  #{$trigger}{
    padding: 0;
    transition: transform $tr-fast;
    position: absolute;
    right: $s;
    top: $s;

    &::after{
      content: "more_vert";
      font-family: $font-icons;
      font-size: $l;
      color: $accent;
    }

    &:hover{
      transform: rotate(180deg);
    }
  }

  &__options {
    display: none;
    text-align: left;

    li{
      &  > *{
        padding: $xxs 0;
      }
    }
  }

  &.is-active {
    background-color: $darker;
    padding: $xs $m $l $m;
    width: $sidebar-width;

    .secondary-navigation__options {
      display: block;
    }

    #{$trigger}{
      &::after{
        content: "close";
      }

      &:hover{
        transform: none;
      }
    }
  }

  .switcher-row{
    display: flex;
    gap: $m;
    margin-left: -$xs;
  }

  .lang-selector {
    flex: 0 1 auto;

    &__item {
      display: inline;
      cursor: pointer;
      opacity: $op-medium;

      &--is-active {
        opacity: 1;
      }
    }
  }
}
