@import "../../../../style//000-abstracts/__abstracts-dir";

.my-cranach {
  display: none;
  padding:  $xl + $s + $m $m $m $m;
  width: $sidebar-width;

  &--is-active {
    display: block;
  }

  &__title {
    margin-bottom: $m;
    font-weight: $fw-semibold;
  }
}
