@import "../../../../style//000-abstracts/__abstracts-dir";

.my-cranach {
  position: fixed;
  display: none;
  padding: 0 $m $m;

  &--is-active {
    display: block;
  }

  &__title {
    margin-bottom: $m;
    font-weight: $fw-semibold;
  }
}
