@import "../../../../style/000-abstracts/__abstracts-dir";

.pagination-wrap {
  z-index: $level-overall-nav;
  padding: $s $m $m $m;
  border-top: solid $border-stroke-weight-s $lighten-strong;
  background-color: $darken-strongest;
  flex: 0 1 auto;
}

.pagination {
  display: inline-block;
  margin-right: $s;

  &__item {
    display: inline-flex;
    width: $l;
    height: $l;
    align-items: center;
    justify-content: center;
    margin-right: $border-stroke-weight-s;
    background-color: $darker;
    user-select: none;

    &:hover {
      cursor: default;
    }

    &--clickable {
      background-color: $dark;

      &:hover {
        cursor: pointer;
      }
    }

    &--active {
      background-color: $accent;
      color: $darkest;
    }

    &--hidden {
      display: none;
    }

    &--first-item {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &--last-item {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
