@import "../../../../style/000-abstracts/__abstracts-dir";

.pagination-wrap {
  z-index: $level-overall-nav;
  padding: $s $m $m $m;
  background-color: $lighten-strongest;
  flex: 0 1 auto;
}

.pagination {
  display: inline-block;
  margin-right: $s;
  opacity: $op-full;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__item {
    display: inline-flex;
    width: $l;
    height: $l;
    align-items: center;
    justify-content: center;
    margin-right: $border-stroke-weight-s;
    margin-bottom: $border-stroke-weight-s;
    background-color: $lighter;
    user-select: none;
    transition: margin $tr-fast;

    &:hover {
      cursor: default;
      margin-left: $xxxs;
    }

    &--clickable {
      background-color: $light;

      &:hover {
        cursor: pointer;
      }
    }

    &--active {
      background-color: $accent;
      color: $lightest;
    }

    &--hidden {
      display: none;
    }

    &--first-item {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &--last-item {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
