@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-table {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 $xs;

  $self: &;

  thead {
    tr {
      th {
        position: relative;
        padding: 0 $m 0 $s;
        font-weight: $fw-semibold;
        text-align: left;

        &.is-sortable {
          cursor: pointer;
        }

        &.sort {
          &::after {
            display: none;
            padding: 0 $xs;
            color: $accent;
            content: 'filter_list';
            font-family: $font-icons;
            font-size: $bfs;
            font-weight: $fw-bold;
            transition: transform $tr-fast, background-color $tr-fast;
            vertical-align: bottom;
          }

          &--asc::after,
          &--desc::after {
            display: inline-block;
          }

          &--asc::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      td {
        padding: $s 0 $s $s;
        border-bottom: solid $border-stroke-weight-s $accent;
        background-color: $lighter;
        vertical-align: middle;

        &:last-child {
          padding-right: $s;
        }

        a {
          border-bottom: 1px solid $accent;
          color: inherit;
        }

        & .text-value {
          display: inline-block;

          &.wrap {
            width: 80ch;
          }
        }
      }

      #{$self}__image-field {
        width: $xl;
        padding: $xxs $m;
      }

      #{$self}__favorite {
        overflow: hidden;
        width: $m;
        padding-left: $m;

        .favorite-holder {
          position: relative;

          .favorite {
            position: absolute;
            top: -$m;
            border: 0;
            aspect-ratio: 1/1;
            background-color: $lighten-strongest;
            border-radius: 50%;
            color: $dark;
            line-height: normal;
            transition: transform $tr-fast, color $tr-fast, opacity $tr-medium, top $tr-medium;

            &:hover,
            &--is-active {
              background-color: $accent;
              color: $lightest;
              cursor: pointer;
            }

            &--is-armed {
              top: -100px;
              opacity: 0;
            }

            &--is-active {
              transform: scale(1);
            }
          }
        }
      }

      &:hover {
        background-color: $darken-strong;

        #{$self}__favorite {
          .favorite-holder {
            .favorite {
              top: -$m !important;
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }

  .no-wrap {
    white-space: nowrap;
  }
}
