@import "../../../../style/000-abstracts/__abstracts-dir";

.logo {
  display: block;
  padding-bottom: $xs;
  color: $accent;
  font-size: $l;
}

.reverse-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $xs;
  color: $lighter;
  font-size: $bfs;

  i.material-icons {
    width: $m;
    color: $accent;
    font-size: $l;
  }
}
