@import "../../../../style/000-abstracts/__abstracts-dir";

.logo {
  display: block;
  padding-bottom: $xs;
  font-size: $l;
}

.logo a{
  color: $accent;
}

.reverse-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $xs;
  color: $darker;
  font-size: $bfs;

  i.icon {
    width: $m;
    color: $accent;
    font-size: $l;
  }
}

.cda-logo {
  height: $m;
  opacity: 0.3;
  transition: opacity $tr-fast;
  padding-left: $m;
  padding-right: $m;
  
  &:hover{
    opacity: 1;
  }
}
