@import "../../../../style/000-abstracts/__abstracts-dir";

.btn {
  padding: $xs $s;
  border-width: 0;
  background-color: $accent;
  border-radius: $border-radius;
  color: $darkest;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: darken($accent, 10%);
  }

  &--is-reduced {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $light;
    font-weight: $fw-light;

    & > .icon {
      color: $accent;
    }

    &:active {
      background-color: transparent;
      color: $lightest;
    }
  }

  &--is-stacked {
    display: block;
    padding-left: 0;
  }

  &--is-hidden {
    display: none;
  }

  &--is-disabled {
    opacity: $op-low;
    pointer-events: none;
  }
}
