@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $darker;
  position: relative;
  transition: transform $tr-fast;
  overflow: hidden;
  $self: &;

  &__image {
    padding: 1px;
  }

  &__content {
    position: relative;
    flex-grow: 1;
    //padding: $s;
    padding-top: $s;
    padding-bottom: $s;
    border-top: solid $border-stroke-weight-s $accent;
    background-color: $darkest;
    color: $lighter;
  }

  &__title {
    margin-bottom: $xxs;
    color: $light;
    font-weight: $fw-semibold;
    line-height: $lh-headlines;
  }

  &__subtitle {
    margin-bottom: $xxs;
    color: $light;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__text {
    margin-bottom: $xxs;
    color: $light;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__favorite {
    position: absolute;
    background-color: $darken-strongest;
    right: $xs;
    top: $xs;
    color: $light;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: transform $tr-fast, color $tr-fast, opacity $tr-medium, top $tr-medium;

    &:hover,
    &--is-active {
      opacity: 1;
      background-color: $accent;
      color: $darkest;
      cursor: pointer;
    }

    &--is-armed{
      opacity: 0;
      top: -100px;
    }

    &--is-active {
      transform: scale(1);
    }
  }

  &:hover{
    transform: scale(1.05);
    box-shadow: $shadow-m;
    z-index: $level-overall-nav;

    #{$self}__favorite{
      opacity: 1 !important;
      top: $xs !important;
    }
  }
}
