@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $darker;

  &__image {
    padding: 1px;
  }

  &__content {
    position: relative;
    flex-grow: 1;
    padding: $s;
    border-top: solid $border-stroke-weight-s $accent;
    background-color: $dark;
    color: $lighter;
  }

  &__title {
    margin-bottom: $xxs;
    color: $lightest;
    font-weight: $fw-semibold;
    line-height: $lh-headlines;

    em {
      background-color: $accent;
      color: $darkest;
    }
  }

  &__subtitle {
    margin-bottom: $xxs;
    color: $lighter;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__text {
    margin-bottom: $xxs;
    color: $light;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__favorite {
    position: absolute;
    right: $s;
    bottom: $s;
    color: $light;
    transition: transform $tr-fast, color $tr-fast;

    &:hover,
    &--is-active {
      color: $accent;
      cursor: pointer;
      transform: scale(1.4);
    }

    &--is-active {
      transform: scale(1);
    }
  }
}
