@import "../../../../style//000-abstracts/__abstracts-dir";

.artefact-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $darken-medium;
  position: relative;
  transition: background-color $tr-fast;
  overflow: hidden;

  $self: &;

  &__content {
    position: relative;
    flex-grow: 1;
    padding-top: $s;
    padding-bottom: $s;
    border-top: solid $border-stroke-weight-s transparent;
    background-color: $lightest;
    color: $darker;
    transition: border-color $tr-slow;
  }

  &__title {
    margin-bottom: $xxs;
    color: $dark;
    font-weight: $fw-semibold;
    line-height: $lh-headlines;

    em {
      color: $darkest;
      font-weight: $fw-semibold;
    }
  }

  &__subtitle {
    margin-bottom: $xxs;
    color: $dark;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__text {
    margin-bottom: $xxs;
    color: $dark;
    font-weight: $fw-light;
    line-height: $lh-headlines;
  }

  &__favorite {
    position: absolute;
    background-color: $lighten-strongest;
    right: $xs;
    top: $xs;
    color: $dark;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: transform $tr-fast, color $tr-fast, opacity $tr-medium, top $tr-medium;

    &:hover,
    &--is-active {
      background-color: $accent;
      color: $lightest;
      cursor: pointer;
    }

    &--is-armed{
      opacity: 0;
      top: -100px;
    }

    &--is-active {
      transform: scale(1);
    }
  }

  &:hover{
    background-color: $darken-strong;

    #{$self}__favorite{
      opacity: 1 !important;
      top: $xs !important;
    }

    #{$self}__content{
      border-color: $accent;
    }
  }
}
