* {
  box-sizing: content-box;
}

body {
  font-family: $font-sans-serif;
  font-size: $bfs;
  font-weight: $fw-light;
  color: $lightest;
  background-color: $darkest;
}

a {
  color: $darkest;
  text-decoration: none;
}

/* Templates
-----------------------------------------------------------------------------*/

.template {
  color: $darkest;
  background-color: $darkest;
}

/* Title & Subtitle
-----------------------------------------------------------------------------*/

.title,
.subtitle,
.chapter {
  font-size: $m;
  margin-bottom: $l;
  line-height: $lh-headlines;
  position: relative;
}

.title+.subtitle {
  margin-top: -$l + $xs;
}

.title {
  font-weight: $fw-bold;
  &:after {
    content: " ";
    display: block;
    width: $xl;
    margin-top: $xs;
    margin-bottom: $xs;
    border-top: solid $border-stroke-weight $accent;
  }
}

.subtitle,
.chapter {
  font-weight: $fw-regular;
}

.headline {
  font-size: $bfs;
  font-weight: $fw-semibold;
  margin-bottom: $m;
}


/* Text
-----------------------------------------------------------------------------*/


p,
th,
td {
  line-height: $lh-normal;
}
