* {
  box-sizing: content-box;
}

body {
  background-color: $darkest;
  color: $lightest;
  font-family: $font-sans-serif;
  font-size: $bfs;
  font-weight: $fw-light;
}

a {
  color: $darkest;
  text-decoration: none;
}

/* Templates
----------------------------------------------------------------------------- */

.template {
  background-color: $darkest;
  color: $darkest;
}

/* Title & Subtitle
----------------------------------------------------------------------------- */

.title,
.subtitle,
.chapter {
  position: relative;
  margin-bottom: $l;
  font-size: $m;
  line-height: $lh-headlines;
}

.subtitle,
.chapter {
  font-weight: $fw-regular;
}

.title + .subtitle {
  margin-top: -$l + $xs;
}

.title {
  font-weight: $fw-bold;

  &::after {
    display: block;
    width: $xl;
    border-top: solid $border-stroke-weight $accent;
    margin-top: $xs;
    margin-bottom: $xs;
    content: " ";
  }
}

.headline {
  margin-bottom: $m;
  font-size: $bfs;
  font-weight: $fw-semibold;
}

/* Text
----------------------------------------------------------------------------- */

p,
th,
td {
  line-height: $lh-normal;
}
