.page {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "navigation sidebar"
    "dashboard sidebar";
}

.main-navigation {
  grid-area: navigation;
}

.dashboard {
  grid-area: dashboard;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 auto;
}

@media screen and (max-width: $vp-medium) {

  .page{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .main-navigation {
    order: 2;
  }
  
  .dashboard {
    order: 1;
  }
  
  .sidebar {
    order: 0;
  }
}
