@import "../../../../style//000-abstracts/__abstracts-dir";

.tree-list {
  $fold-indicator-space: $l;

  margin-right: $fold-indicator-space;

  .tree-list {
    margin: 0 0 0 $s;
  }

  &__item {
    position: relative;
    margin: $xs 0;
  }

  &__item-fold-indicator {
    position: absolute;
    top: 0;
    right: -$fold-indicator-space;
    background-color: $lightest;
    color: $accent;
    cursor: pointer;
    transition: transform $tr-fast;

    &--is-open {
      transform: rotate(180deg);
    }
  }

  &__item-name {
    &--is-clickable {
      cursor: pointer;
    }
  }
}
