@import "../../../../style//000-abstracts/__abstracts-dir";
@import "../../../../style//000-abstracts/mixins";

.artefact-overview {
  height: 100%;
  align-content: flex-start;
  padding-bottom: $xxl;

  &--is-grid {
    display: block;
    gap: $s;

    &[data-active-view="list"] {
      padding: $xs;
      column-gap: $xs !important;
      row-gap: $xs !important;

      @include grid-even-columns($vp-xlarge, 2);
      @include grid-even-columns($vp-xxlarge, 3);
      @include grid-even-columns($vp-4xlarge, 4);
    }
  }

  @container (min-width: 400px) {
    &--is-grid:not([data-active-view="list"]):not([data-active-view="table"]) {
      display: grid;
      @include grid-auto-columns();
    }

    &--is-grid[data-active-view="card-small"] {
      @include grid-auto-columns-small();

      column-gap: $xxs !important;
      row-gap: $xxs !important;
    }
  }

  &-switcher {
    &-item-icon {
      cursor: pointer;

      &.is-disabled {
        cursor: default;
        opacity: 0.3;
      }
    }
  }

  /* Responsive Small
  -------------------------------------------------------------------------- */
  // @include base-grid();

  @media screen and (max-width: 999px) {
    &--is-grid[data-active-view="list"] {
      display: block;
    }
  }
}
