@import "../../../../style//000-abstracts/__abstracts-dir";
@import "../../../../style//000-abstracts/mixins";

.artefact-overview {
  align-content: flex-start;
  height: 100%;
  padding-bottom: $xxl;

  &--is-grid {
    display: grid;
    gap: $s;


    @include grid-auto-columns();

    &[data-active-view="card-small"] {
      column-gap: $xxs !important;
      row-gap: $xxs !important;
      @include grid-auto-columns-small();
    }

    &[data-active-view="list"] {
      display: grid;
      padding: $xs;
      column-gap: $xs !important;
      row-gap: $xs !important;

      @include grid-even-columns($vp-xlarge, 2);
      @include grid-even-columns($vp-xxlarge, 3);
      @include grid-even-columns($vp-4xlarge, 4);
    }
  }

  &--is-table {

  }

  &-switcher {
    &-item-icon {
      cursor: pointer;

      &.is-active {
        opacity: 0.3;
      }
    }
  }

  /* Responsive Small
  -------------------------------------------------------------------------- */
  // @include base-grid();
}
