@import '../../../../style/000-abstracts/__abstracts-dir';

.switcher {
  display: inline-flex;
  flex-direction: row;

  &-item {
    display: flex;
    margin: $s $xxs;
    margin-right: 0;
    align-items: center;
    justify-content: center;

    a {
      display: block;
      border-bottom: solid $border-stroke-weight transparent;
      color: $darker;
    }

    transition: transform $tr-fast;

    &:hover{
      transform: scale(1.2);
    }
  }

  &-item + &-item {
    padding-left: $xxs;
  }

}
