@import '../../../../style/000-abstracts/__abstracts-dir';

.switcher {

  &.artefact-overview-switcher {
    display: none;
  }

  &-item {
    display: inline-block;

    margin: $s $xxs;
    margin-right: 0;

    justify-self: flex-end;
    a {
      display: block;

      color: $lighter;
      border-bottom: solid $border-stroke-weight transparent;
    }
  }

  &-item + &-item {
    padding-left: $xxs;

    border-left: solid $border-stroke-weight-s $accent;
  }

  @media only screen and (min-width: $vp-medium) {
    &.artefact-overview-switcher {
      display: block;
    }
  }

  @media only screen and (min-width: $vp-large) {
    display: inline-flex;
    flex-direction: row;

    .switcher .switcher-item {
      display: inline-flex;
      align-items: flex-end;
    }
  }
}
