.search {
  display: flex;

  &__results-area {
    flex-basis: 80%;
  }

  &__filter {
    overflow: hidden;
    width: 0;

    &--is-active {
      width: 20%;
      flex-basis: 20%;
    }
  }

  &__my-cranach {
    overflow: hidden;
    width: 0;
    flex-basis: 0;

    &--is-active {
      width: 20%;
      flex-basis: 20%;
    }
  }
}
