@import "../../../style/000-abstracts/__abstracts-dir";

.search {
  display: flex;

  &__results-area {
    flex-basis: 0;
    flex-grow: 999;
  }

  &__sidebar {
    overflow: hidden;
    width: 0;

    &--is-active {
      flex-basis: 20rem;
      flex-grow: 1;
    }
  }
}
