@import "../../../../style/000-abstracts/__abstracts-dir";

.cloak {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: cloakIn 0.3s;
  background-color: $shadow-color-lighter;

  @keyframes cloakIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &__throbber {
    position: absolute;
    right: $l;
    bottom: $l;
    display: inline-block;
    width: $xxl;
    height: $xl;

    div {
      position: absolute;
      top: 33px;
      width: $s;
      height: $s;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      background: #fff;
      border-radius: 50%;

      &:nth-child(1) {
        left: 8px;
        animation: throbber-anim1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 8px;
        animation: throbber-anim2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 32px;
        animation: throbber-anim2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 56px;
        animation: throbber-anim3 0.6s infinite;
      }
    }
  }

  @keyframes throbber-anim1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes throbber-anim3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes throbber-anim2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(24px, 0);
    }
  }
}
